<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/weatherIcon.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/weather.css">
    <title>Weather</title>
</head>

<body>
    <div class="app">
        <main class="wrapper">
            
            <div class="weatherContainer">
                <h1>Previsão do tempo</h1>
                <div class="search">
                    <form action="/" method="GET" >
                        <input type="text" name="city">
                        <button type="submit" id="submit"><img src="assets/searchicon.svg" alt="search"></button>
                    </form>
                </div>
                <%- include("../partials/city.ejs") %>
                <h2 id="capitalsText">Capitais</h2>
                <div class="capitals">
                    <table>
                        <tr>
                            <th>Rio de Janeiro</th>
                            <th>São Paulo</th>
                            <th>Belo Horizonte</th>
                            <th>Brasília</th>
                            <th>Belém</th>
                            <th>Salvador</th>
                            <th>Curitiba</th>
                        </tr>
                        <tr>
                            <td><%- temperatureRJ %></td>
                            <td><%- temperatureSP %></td>
                            <td><%- temperatureBH %></td>
                            <td><%- temperatureBSB %></td>
                            <td><%- temperatureBEL %></td>
                            <td><%- temperatureSSA %></td>
                            <td><%- temperatureCWB %></td>
                        </tr>

                    </table>
                </div>
            </div>
        </main>
    </div>
</body>

</html>